/* Barra de navegación */

.navbar{
    padding: 2rem;
    background-color: #f5f6f7;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

/* Estilos Generales */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 2.5rem;
}

.seccion-oscura{
    color: white;
    background-color: #1b1b32;
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-titulo{
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Bungee', cursive;
}

.seccion-descripcion{
    font-size: 1.2rem;
    color: #584e4e;
    font-family: 'Quicksand', sans-serif;
}

.seccion-texto{
    font-size: 1.2rem;
}

.btn-info{
    font-size: 1.1rem;
    margin: 20px;
}

.texto-negro{
    color: black;
}

.texto-blanco{
    color: white;
}

/* Sección HERO */

.hero{
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal{
    padding: 3rem;
    font-family: 'Bungee', cursive;
}

.hero-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 20px;
}

.hero-principal h2{
    font-size: 1.5rem;
    color: #615151;
}

/* Sobre mí */

.sobremi{
    height: 500px;
    padding: 10px;
}

.sobremi .contenedor{
    max-width: 600px;
    text-align: center;
}

/* Experiencia */

.experiencia{
    padding: 40px 40px 60px 40px;
}

.experiencia .columna{
    padding: 20px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.experiencia .columna:hover{
    color: white;
    background-color: #1b1b32;
}

.experiencia i{
    font-size: 2.5rem;
    color: #7ade30;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.proyectos i{
    font-size: 1.5rem;
    color: black;
    background-color: transparent;
    padding: 8px 19px;
    border-radius: 50%;
}



.experiencia-titulo{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Bungee', cursive;
}

.badges-contedor{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge{
    margin: 5px;
}

/* Proyectos recientes */

.proyectos-recientes{
    padding: 40px;

}

.proyectos-recientes img{
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

.proyectos-contenedor{
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay{
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    text-align: center;
}

.overlay p{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: -50;
}

.proyecto{
    position: relative;
}

.proyecto:hover img{
    opacity: 0.2;
}

.proyecto:hover .overlay{
    opacity: 1;

}

.overlay .iconos-contenedor{
    display: flex;
}

.overlay i{
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin: 10px;
}

.overlay p{
    color: #ff00ee;
    font-family: 'Bebas Neue', cursive;
}

/* Artículos */

.articulos{
    min-height: 15px;
    padding: 30px;
}

.articulos .card{
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header{
    font-weight: bold;
}

/* Testimonios */

.testimonios{
    padding: 40px 40px 80px 40px;

}

.testimonios .carousel{
    max-width: 800px;
}

.carousel-item{
    height: 500px;
}

.carousel-item .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-imagen{
    height: 150px;
    width: 150px;
    margin: 10px 10px 20px 10px;
}

.testimonio-texto{
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

.testimonio-info{
    font-weight: bold;
    text-align: center;
}

.testimonio-info p{
    margin-bottom: 0;
}

.testimonio-footer .cliente{
    font-size: 1.2rem;
}

.testimonio-info .cargo{
    font-size: 0.9rem;
    color: #656060;
}

/* Contacto */



.contacto .container{
    max-width: 1100px;
    min-height: 200px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -5rem;
    background-color: rgb(13,110,253);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contacto .row{
    width: 100%;
    display: flex;
    align-items: center;
}

.contacto .descripcion{

    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em;
    margin: 10px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: black;
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
    color: black;

}

/* Pie de Página (Footer) */

footer{
    min-height: 500px;
}

.footer-logo{
    height: 80px;
    width: 80px;
    margin: 10px;
}

.footer-texto{
    font-size: 1rem;
    padding: 20px;
    margin-bottom: 30px;
    font-family: 'Quicksand', sans-serif;
}

.iconos-redes-sociales a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.iconos-redes-sociales i{
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover{
    background-color: white;
    border: 2px solid rgb(13,110,253);
}

.iconos-redes-sociales a:hover i{
    color: black;
}

.derechos-de-autor{
    font-size: 15px;
    color: #aeaeae;
    padding: 20px;
}

/* Adaptable responsive */

@media screen and (max-width: 400px) {
    .overlay p{
        font-size: 18px;
    }

    .overlay i{
        font-size: 15px;
    }
}

@media screen and (max-width: 767px){
    .navbar-brand{
        display: none;
    }
}
@media screen and (max-width: 800pc) {
    .testimonio-imagen{
        height: 120px;
        width: 120px;
    }
    .testimonio-texto{
        font-size: 18px;
    }
}

@media screen and (min-width: 700px){
    .hero-inferior-img{
        max-width: 600px;
    }
}